{% extends "base.html" %}
{% load static %}

<h1> Waiting page</h2>

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/user/refresh.js' %}"></script>
{% endblock %}
{% csrf_token %}
{% block body %}
<div class="container mt-5">
	<h4 class="card-title mt-3 text-center">Your booking has been confirmed</h4>
	<div class="card bg-light">
	<article class="card-body mx-auto" style="max-width: 400px;">
		<h4 class="card-title mt-3 text-center">Driver will be arriving soon</h4>
		<h4 class="card-title mt-3 text-center"> Driver name : {{driver.name}} </h4>
		<h4 class="card-title mt-3 text-center"> Driver phone number : {{driver.phone_number}}</h4>
		<h4 class="card-title mt-3 text-center"> Car model : {{car.model}}</h4>
		<h4 class="card-title mt-3 text-center"> Car number  : {{car.number}} </h4>
		<h4 class="card-title mt-3 text-center"> Distance from your location : {{distance}} </h4>
		{% comment %} <h4 class="card-title mt-3 text-center"> Do you want to go ahead ? </h4> {% endcomment %}
		{% comment %} <div class="form-group"> {% endcomment %}
			{% comment %} <button type="submit" class="btn btn-outline-success btn-block" id="login_submit" name="login_submit"> Confirm </button> {% endcomment %}
			{% comment %} <button  onclick="window.location.href='/user/home/waiting/'" class="btn btn-outline-success btn-block" id="confirm" name="confirm"> Confirm </button>		 {% endcomment %}
			{% comment %} <button  onclick="window.location.href='/user/home/'" class="btn btn-outline-success btn-block" id="cancel" name="cancel"> Cancel </button>		 {% endcomment %}
        {% comment %} </div> <!-- form-group// --> {% endcomment %}
	</article>
	</div>
</div>
{% endblock %}
